/* google fonts add */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* base css */
* {
    padding: 0;
    margin: 0;

}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* fonts */
h1,
h2,
h3,
p {
    color: #3A3A3A;

}

h1 {
    font-size: 52px;
    line-height: 70px;
}

h2 {
    font-size: 38px;
    line-height: 60px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;

}

h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 24px;
}

/* layout */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}

img {
    width: 100%;
}

/* global item css */
.btn {
    background-color: #E02C6D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 700;
}



/* Header Section start*/
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 34px;
}

/* Hero Area Start */
.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 30px;
}

.hero-content p {
    margin: 16px 0;

}

.hero-image {
    background-image: url('../images/Circle\ design.svg');
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
}

.hero-image img {
    width: 80%;
}

/* Brand Section Start */
.brand-section {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 20px;
}

/* Products Section Start */
.title {
    text-align: center;
    margin-bottom: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.product {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 18px 15px;
}

.rating {
    display: flex;
    font-size: 14px;
}

.icon {
    color: #FB8200;
    margin-right: 8px;
}

.end-btn {
    text-align: end;
    margin-top: 50px;
}

.btn2 {
    text-align: end;
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: #E02C6D;
}