/* google fonts add */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* base css */
* {
    padding: 0;
    margin: 0;

}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* fonts */
h1,
h2,
h3,
p {
    color: #3A3A3A;
}

h1 {
    font-size: 52px;
    line-height: 70px;
}

h2 {
    font-size: 38px;
    line-height: 60px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

p {
    font-size: 16px;
    line-height: 24px;
}

/* layout */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0;
}

img {
    width: 100%;
}

/* global item css */
.btn {
    background-color: #E02C6D;
    color: white;
    border: none;
    padding: 10px 24px;
    cursor: pointer;
    font-weight: 700;
}

/* Header Section start*/
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 34px;
}

#nav-toggler {
    display: none;
}

.nav-toggler-icon {
    display: none;
}

/* Hero Area Start */
.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-column-gap: 30px;
}

.hero-content p {
    margin: 16px 0;

}

.hero-image {
    background-image: url('../images/Circle\ design.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
}

.hero-image img {
    width: 85%;
}

.hero-content .btn {
    border-radius: 40px;
}

/* Brand Section Start */
.brand-section {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 20px;
}

/* Products Section Start */
.title {
    text-align: center;
    margin-bottom: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.product {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 18px 15px;
}

.rating {
    display: flex;
    font-size: 14px;
}

.icon {
    color: #FB8200;
    margin-right: 8px;
}

.end-btn {
    text-align: end;
    margin-top: 50px;
}

.btn2 {
    text-align: end;
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: #E02C6D;
}

/* Newsletter Section Start */
.newsletter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 90px;
    align-items: center;
}

.content p {
    margin: 16px 0;
}

/* Footer Section Start */
.footer-section {
    margin-top: 50px;
    background-color: #0A0826;
    /* color: white; */
    padding: 50px;
    text-align: center;
}

.footer-section h3 {
    color: white;
}

.footer-section p {
    color: white;
}

.social-icon {
    color: white;
    margin-top: 16px;
}

.social-icon .f {
    margin-left: 16px;
}

/* media-query responsiveness*/

/* tublet */
@media only screen and (max-width:992px) {
    h1 {
        font-size: 34px;
        line-height: normal;
    }

    h2 {
        font-size: 27px;
        line-height: normal;
    }

    .container {
        max-width: 688px;
        padding: 30px 0;
    }

    .header-section h3 {
        font-size: 22px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-image img {
        width: 90%;
    }

}

/* mobile */
@media only screen and (max-width:688px) {
    .container {
        max-width: 329px;
    }

    .nav-toggler-icon {
        display: block;
        font-size: 30px;
    }

    .navbar {
        position: absolute;
        width: 100%;
        top: 80px;
        transform: translateX(500px);
        transition: .7s ease-in-out;
    }

    #nav-toggler:checked~.navbar {
        transform: translateX(0);
        display: block;
    }

    .navbar {
        background-color: #0A0826;
        height: 100vh;
        width: 90%;
        display: none;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 20px;
        gap: 40px;
        align-items: flex-start;
    }


    .hero-image {
        background-position: center;
        text-align: center;
    }

    .hero-content {
        order: 2;
    }

    .hero-section,
    .products,
    .newsletter {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-section {
        grid-row-gap: 30px;
    }

    .newsletter {
        grid-gap: 30px;
    }

    .hero-image img {
        width: 90%;
    }


}